
.PS-Wrapper {
    height: 175vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1420px;
    margin-top: 6rem;
}
.ProjectShowcase-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1420px;
}
.ProjectShowcase-Row_firstRow,
.ProjectShowcase-Row_secondRow {
        height: 48%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
}
.ProjectShowcase-Row_firstRow_left,
.ProjectShowcase-Row_firstRow_right,
.ProjectShowcase-Row_secondRow_left,
.ProjectShowcase-Row_secondRow_right,
.ProjectShowcase-Row_thirdRow_left,
.ProjectShowcase-Row_thirdRow_right {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.PS-Container2 {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ProjectShowcase-Row_thirdRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* media queries ipad pro 12 portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
    .ProjectShowcase-Container {
        margin-top: -70rem;
    }
    .ProjectShowcase-Row_firstRow {
        height: 10%;
    }
    .ProjectShowcase-Row_secondRow {
        /* border: 2px solid red; */
        height: 10%;
        margin-top: -10.5rem;
    }
    .PS-Container2 {
        margin-top: -28rem;
    }
}