.projectsCta {
	height: 525vh;
	width: 100%;
	background-color: #fff;
	color: #1d1d1f;
	position: relative;
}
.projects-overflow {
	width: 100%;
	max-width: 1450px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 28px;
	padding-right: 28px;
}
.projects-content {
	width: 96%;
	height: 175vh;
	margin-left: auto;
	margin-right: auto;
}
.project-header {
	display: flex;
	height: 8rem;
	width: 100%;
}
.proj-sticky-intro {
	width: 100%;
	position: sticky;
	top: 0;
}
.proj-mainTitle {
	font-size: 80px;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 15rem;
}
.proj-intro-summary {
	width: 45%;
	padding-top: 2rem;
	padding-left: 10px;
}
.pss1 {
	font-size: 22px;
	color: #1d1d1f;
	font-weight: 500;
}
.pss2 {
	font-size: 22px;
	color: #86868B;
	font-weight: 400;
}
.link-moreProjects {
	color: var(--blue-dark);
	padding-top: 4rem;
	padding-left: 10px;
	display: flex;
	width: 30%;
	will-change: transform, opacity;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.4s ease;
}
.link-moreProjects:hover {
	cursor: pointer;
	text-decoration: underline;
}
.ls2 {
	padding-top: 3px;
	padding-left: 3px;
}
.ip-hero {
	position: absolute;
	top: 7%;
	right: 0;
	width: 45%;
	max-width: 45%;
	min-width: 45%;
	transform: translateY(40px) scale(0.98);
	transition: 0.4s ease;
}
.link-moreProjects2 {
	color: var(--blue-dark);
	padding-top: 2rem;
	padding-left: 10px;
	display: flex;
	width: 30%;
	will-change: transform, opacity;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.4s ease;
}
.proj-link-animation-active {
	animation: proj-link-animation 0.7s ease-in-out forwards;
	animation-delay: 0.3s;
}
.proj-link-animation-active2 {
	animation: proj-link-animation 0.8s ease-in-out forwards;
	animation-delay: 0.7s;
}
.ip-hero-active {
	animation: ip-hero-anim 0.4s ease-in-out forwards;
	animation-delay: 0.1s;
}
.link-moreProjects2:hover {
	cursor: pointer;
	text-decoration: underline;
}
.ls3 {
	padding-top: 3px;
	padding-left: 3px;
}
.proj-1-ai {
	max-width: 1450px;
	width: 100%;
	height: 900px;
	position: absolute;
}
.braintumor-cta {
	width: 75%;
	height: 450px;
	background-color: #F5F5F7;
	border-radius: 24px;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
	margin-top: 14rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 0;
}
.braintumor-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 55%;
}
.btc-heading {
	width: 90%;
	height: 45%;
	margin-left: 1rem;
}
.btc-p {
	width: 90%;
	margin-top: 1.5rem;
	font-weight: 500;
	margin-left: 1rem;
}
.braintumor-subheading {
	color: #86868baa;
}
.braintumor-cta img {
	max-width: 40%;
	width: 40%;
	margin-top: 1.25rem;
	margin-left: -2rem;
}
.proj-title {
	font-size: 32px;
	background: linear-gradient(
		91.36deg,
		#eca658 0%,
		#f391a6 13.02%,
		#e188c3 25.52%,
		#a58de3 37.5%,
		#56abec 49.48%,
		#737eb7 63.02%,
		#c8638c 72.92%
	);
	background-size: 200% 200%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-animation: intro-gradient 10s infinite ease both;
	-moz-animation: intro-gradient 10s infinite ease both;
	animation: intro-gradient 10s infinite ease both;
	font-weight: 700;
}
.proj-title2, .proj-title4 {
	font-size: 32px;
	background: linear-gradient(
		91.36deg,
		#2ed77f 8.02%,
		#63c9d6 35.52%,
		#a58de3 57.5%,
		rgb(73, 185, 189) 72.92%,
		#57acdd 84.38%
	);
	background-size: 200% 200%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-animation: intro-gradient 10s infinite ease both;
	-moz-animation: intro-gradient 10s infinite ease both;
	animation: intro-gradient 10s infinite ease both;
	font-weight: 700;
}
.proj-title3 {
	font-size: 32px;
	background: linear-gradient(
		91.36deg,
		#56abec 12.48%,
		#e188c3 31.52%,
		#f877cd 51.52%,
		#d788e1 35.52%,
		#a58de3 80%,
		#e188c3 10%,
		#56abec 10%,
		#56abec 12.48%,
		#8dabe3 50%,
		#a58de3 0%   
	);
	background-size: 200% 200%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-animation: intro-gradient 10s infinite ease both;
	-moz-animation: intro-gradient 10s infinite ease both;
	animation: intro-gradient 10s infinite ease both;
	font-weight: 700;
}
.braintumor-links {
	color: #3997f7 !important;
	width: 90%;
	margin-top: 0.5rem;
	display: flex;
	gap: 1rem;
	margin-left: 1rem;
}
.braintumor-links > #bt-linkspan-1 > p,
.braintumor-links > #bt-linkspan-2 > p {
	color: #3997f7 !important;
	padding-right: 1rem;
	padding-top: 2rem;
	font-weight: 400;
	transition: 0.4s ease;
}
#bt-linkspan-1:hover,
#bt-linkspan-2:hover {
	cursor: pointer;
	text-decoration: underline;
}
.arrow-proj {
	padding-top: 5px;
}
.eye-detection-cta {
	width: 75%;
	height: 450px;
	background-color: #F5F5F7;
	border-radius: 24px;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
	margin-top: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
}
.proj3-cta {
	width: 75%;
	height: 450px;
	background-color: #F5F5F7;
	border-radius: 24px;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
	margin-top: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
}
.proj4-cta {
	width: 75%;
	height: 450px;
	background-color: #F5F5F7;
	border-radius: 24px;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
	margin-top: 74rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
}
.proj5-cta {
	width: 75%;
	height: 450px;
	background-color: #F5F5F7;
	border-radius: 24px;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
	margin-top: 108rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
}
.project-img {
	display: block;
	block-size: 300px;
	max-block-size: 300px;
}
.pathfinder-img {
	display: block;
	block-size: 275px;
	max-block-size: 275px;
}
.feeder-img {
	display: block;
	block-size: 375px;
	max-block-size: 375px;
	padding-left: 2rem;
	margin-left: 4rem;
}
.scroller-img {
	display: block;
	block-size: 350px;
	max-block-size: 350px;
	margin-left: 2rem;
}
.proj-seeMore {
	height: 100px;
	width: 100%;
	position: absolute;
	top: 185rem;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.psm-button {
	font-size: 18px;
	font-weight: 500;
	color: #3997f7;
	border: none;
	outline: none;
	background-color: transparent;
	transition: 0.4s ease;
}
.psm-button:hover {
	text-decoration: underline;
	cursor: pointer;
}
.feeder-content {
	margin-left: -2rem;
}
.scroller-content {
	margin-left: -2rem;
}
.scroller-links {
	margin-top: -0.5rem;
}
@keyframes proj-link-animation {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes ip-hero-anim {
	0% {
		transform: translateY(40px) scale(0.98);
	}
	100% {
		transform: translateY(0px) scale(1);
	}
}









/* .project-section-title {
	margin-top: 4rem;
	font-size: 20px;
	opacity: 0.7;
	margin-left: 4rem;
}
.project-section-container {
	height: 450px;
	width: 100%;
	border-radius: 24px;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-display {
	height: 75%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.project {
	height: 100%;
	width: 30%;
	max-width: 30%;
	border-radius: 24px;
	background-color: black;
	margin-top: 3rem;
	transition: 0.5s ease-in;
}
.project:hover {
	border: 1px solid var(--blue-dark);
	cursor: pointer;
}
.project-subheader {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 25%;
	width: 100%;
}
.ps-1,
.ps-2,
.ps-3 {
	height: 100%;
	width: 30%;
	font-size: 14px;
	margin-top: 7rem;
	text-align: center;
}
#ai-1 {
	background-image: url("../../Images/Showcase/bia.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#ai-2 {
	background-image: url("../../Images/Showcase/hand-showcase.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#ai-3 {
	background-image: url("../../Images/Showcase/face-recog-showcase.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}
#google-showcase {
	background-image: url("../../Images/Showcase/google-showcase.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#bug {
	background-image: url("../../Images/Showcase/bug-tracker-sc.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0rem center;
	position: static;
}
#algo-path {
	background-image: url("../../Images/Showcase/pa2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -11rem center;
	position: static;
} */

