.Tilt-TiltContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tilt-TiltInner_hoverSpan_wrapper {
    position: relative;
    transition: 0.4s ease-out;
    perspective: 1000px;
}
.Tilt-TiltInner_hoverSpan_wrapper:hover {
    transition: 0.3s linear;
    transform: scale(1.1);
    cursor: pointer;
}
.Tilt-BoxContent {
    height: 22rem;
    width: 34rem;
    background-color: #2d2d2e;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: all 0.6s ease-out;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    border: 1px solid rgba(177, 174, 174, 0.5);
    border-radius: 24px;
    box-shadow: 0px 100px 120px rgba(157, 157, 157, 0.846);
}
.Tilt-HoverSpan {
    width: 33.3333%;
    height: 33.3333%;
    position: absolute;
    z-index: 10;
}
.Tilt-HoverSpan:nth-child(1) { left: 0; top: 0; }
.Tilt-HoverSpan:nth-child(2) { left: 33.3333%; top: 0; }
.Tilt-HoverSpan:nth-child(3) { left: 66.6666%; top: 0; }
.Tilt-HoverSpan:nth-child(4) { left: 0; top: 33.3333%; }
.Tilt-HoverSpan:nth-child(5) { left: 33.3333%; top: 33.3333%; }
.Tilt-HoverSpan:nth-child(6) { left: 66.6666%; top: 33.3333%; }
.Tilt-HoverSpan:nth-child(7) { left: 0; top: 66.6666%; }
.Tilt-HoverSpan:nth-child(8) { left: 33.3333%;; top: 66.6666%; }
.Tilt-HoverSpan:nth-child(9) { left: 66.6666%; top: 66.6666%; }

.Tilt-HoverSpan:nth-child(1):hover ~
.Tilt-BoxContent { transform: rotateX(-20deg) rotateY(20deg); }
.Tilt-HoverSpan:nth-child(2):hover ~
.Tilt-BoxContent { transform: rotateX(-20deg) rotateY(0deg); }
.Tilt-HoverSpan:nth-child(3):hover ~
.Tilt-BoxContent { transform: rotateX(-20deg) rotateY(-20deg); }
.Tilt-HoverSpan:nth-child(4):hover ~
.Tilt-BoxContent { transform: rotateX(0deg) rotateY(20deg); }
.Tilt-HoverSpan:nth-child(5):hover ~
.Tilt-BoxContent { transform: rotateX(0deg) rotateY(0deg); }
.Tilt-HoverSpan:nth-child(6):hover ~
.Tilt-BoxContent { transform: rotateX(0deg) rotateY(-20deg); }
.Tilt-HoverSpan:nth-child(7):hover ~
.Tilt-BoxContent { transform: rotateX(20deg) rotateY(20deg); }
.Tilt-HoverSpan:nth-child(8):hover ~
.Tilt-BoxContent { transform: rotateX(20deg) rotateY(0deg); }
.Tilt-HoverSpan:nth-child(9):hover ~
.Tilt-BoxContent { transform: rotateX(20deg) rotateY(-20deg); }

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.85);
    }
    .Tilt-HoverSpan {
        display: none;
    }
    .Tilt-HoverSpan:hover {
        transform: none;
    }
    .Tilt-TiltInner_hoverSpan_wrapper:hover {
        transform: scale(0.85);
    }
}

@media only screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.7);
    }
}

/* media queries iphone xs max */
@media only screen and (min-device-width: 414px) 
and (max-device-width: 414px)
and (min-device-height: 896px)
and (max-device-height: 896px) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.7);
    }
    .Tilt-HoverSpan {
        display: none;
    }
    .Tilt-HoverSpan:hover {
        transform: none;
    }
    .Tilt-TiltInner_hoverSpan_wrapper:hover {
        transform: scale(0.7);
    }
}

/* iphone 13 */
@media only screen and 
(min-device-width: 390px) and 
(max-device-width: 390px) and 
(min-device-height: 844px) and 
(max-device-height: 844px) and 
(-webkit-min-device-pixel-ratio: 3) and 
(min-resolution: 3dppx) and 
(orientation: portrait) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.65);
    }
    .Tilt-HoverSpan {
        display: none;
    }
    .Tilt-HoverSpan:hover {
        transform: none;
    }
    .Tilt-TiltInner_hoverSpan_wrapper:hover {
        transform: scale(0.65);
    }
}

/* ****** larger iphones ******* */
/* iphone 13 pro max */
/* iphone 12 pro max */
@media only screen and 
(min-device-width: 428px) and 
(max-device-width: 428px) and 
(min-device-height: 926px) and 
(max-device-height: 926px) and 
(-webkit-min-device-pixel-ratio: 3) and
(min-resolution: 3dppx) and
(orientation: portrait) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.7);
    }
    .Tilt-HoverSpan {
        display: none;
    }
    .Tilt-HoverSpan:hover {
        transform: none;
    }
    .Tilt-TiltInner_hoverSpan_wrapper:hover {
        transform: scale(0.7);
    }
}

	/* media query for smaller iphones */
/* iphone xs, 13/12 mini, 11 pro, xs, x */
@media only screen and 
(min-device-width: 375px) and 
(max-device-width: 375px) and 
(min-device-height: 812px) and 
(max-device-height: 812px) and
(-webkit-min-device-pixel-ratio: 3) and
(min-resolution: 3dppx) and
(orientation: portrait) {
    .Tilt-TiltInner_hoverSpan_wrapper {
        transform: scale(0.6);
    }
    .Tilt-HoverSpan {
        display: none;
    }
    .Tilt-HoverSpan:hover {
        transform: none;
    }
    .Tilt-TiltInner_hoverSpan_wrapper:hover {
        transform: scale(0.6);
    }
}
