* {
    box-sizing: border-box;
}

.process-scroll-wrap {
    height: 370vh;
    background-color: black;
    color: white;
    z-index: 300000000;
}

.sticky-wrap {
    position: sticky;
    top: 0;
    z-index: 300000000;
}

.process-section {
    overflow: hidden;
    height: 100vh;
    padding-top: 140px;
    padding-bottom: 140px;
}

.workflow-container {
    position: relative;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 90%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.header-workflow {
    position: absolute;
    width: 100%;
    max-width: 980px;
    margin-left: -20rem;
    margin-bottom: 142px;
    padding-top: 1.5rem;
    text-align: left;
    will-change: transform, opacity;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}

.header-workflow h2 {
    max-width: 890px;
    margin-top: -4rem;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.045em;
    font-weight: 600;
}

.header-workflow h4 {
    max-width: 890px;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.045em;
    font-weight: 600;
    opacity: 0.75;
}

.cards-wrap {
    position: relative;
    display: flex;
    margin-top: 8rem;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.process-card1 {
    will-change: transform, opacity;
    transform: translate3d(0px, -15%, 0px) scale3d(0.800014, 0.800014, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 380px;
    max-width: 750px;
    padding: 65px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #1d1d1f;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 59% / 20%);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.process-card2 {
    will-change: transform, opacity;
    transform: translate3d(0px, -10%, 0px) scale3d(0.850015, 0.850015, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 380px;
    max-width: 750px;
    padding: 65px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #1d1d1f;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 59% / 20%);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.process-card3 {
    will-change: transform, opacity;
    transform: translate3d(0px, -5%, 0px) scale3d(0.900015, 0.900015, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 380px;
    max-width: 750px;
    padding: 65px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #1d1d1f;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 59% / 20%);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.process-card4 {
    will-change: transform, opacity;
    transform: translate3d(0px, 0%, 0px) scale3d(0.950015, 0.950015, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 380px;
    max-width: 750px;
    padding: 65px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #1d1d1f;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 59% / 20%);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.process-card5 {
    will-change: opacity, transform;
    opacity: 1;
    transform: translate3d(0px, 5.0345%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 380px;
    max-width: 750px;
    padding: 65px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #1d1d1f;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 59% / 20%);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.card-step {
    margin-bottom: 8px;
    color: var(--blue-dark);
    font-weight: 500;
    letter-spacing: -0.015em;
    font-size: 18px;
    margin-top: 1rem;
}

.process-card-heading {
    margin-top: 1rem;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.process-description {
    opacity: 0.75;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;

}

.canvas {
    position: absolute;
    width: 80%;
    height: 70%;
    z-index: 50;
    top: 35%;
}

/* ********************************** */
/* Begin media queries medium screen */
/* ******************************** */
@media screen and (max-width: 768px) {

    .process-scroll-wrap h2 {
        position: absolute;
        top: 0;
        left: 35%;
        font-size: 32px;
        width: 100%;
    }

    .process-scroll-wrap #hassle-free {
        position: relative;
        top: 0;
        left: 35%;
        font-size: 24px;
        width: 100%;
        margin-top: -1.5rem;
    }

    .cards-wrap .process-card1 p,
    .cards-wrap .process-card2 p,
    .cards-wrap .process-card3 p,
    .cards-wrap .process-card4 p,
    .cards-wrap .process-card5 p {
        font-size: 18px;
    }

    .cards-wrap .process-card1 .process-card-heading,
    .cards-wrap .process-card1 p,
    .cards-wrap .process-card2 .process-card-heading,
    .cards-wrap .process-card2 p,
    .cards-wrap .process-card3 .process-card-heading,
    .cards-wrap .process-card3 p,
    .cards-wrap .process-card4 .process-card-heading,
    .cards-wrap .process-card4 p,
    .cards-wrap .process-card5 .process-card-heading,
    .cards-wrap .process-card5 p {
        width: 120%;
        position: relative;
        margin: 0 auto;
        margin-left: -2rem;
    }

    .process-card1 .card-step,
    .process-card2 .card-step,
    .process-card3 .card-step,
    .process-card4 .card-step,
    .process-card5 .card-step {
        position: relative;
        top: -5%;
        left: -12%;
    }
}

/* ********************************** */
/*  End media queries medium screen  */
/* ******************************** */

/* ****************************** */
/* Begin media queries iphone se */
/* **************************** */
@media screen and (max-width: 375px) {
    .process-scroll-wrap {
        height: 424vh;
    }

    #dev_process_h2 {
        font-size: 1.5rem;
    }

    .process-scroll-wrap #hassle-free {
        font-size: 1rem;
        margin-top: -2rem;
    }

    .header-workflow {
        margin-left: -14.5rem;
        margin-top: 0.5rem;
    }

    .cards-wrap {
        margin-top: 6rem;
        transform: scale(0.8);
    }

    .process-card1,
    .process-card2,
    .process-card3,
    .process-card4,
    .process-card5 {
        width: 120%;
        margin-left: -2rem;
    }
}

/* ****************************** */
/* End media queries iphone se */
/* **************************** */

/* ****************************** */
/* Begin media queries iphone xr */
/* **************************** */
@media screen and (min-width: 412px) and (max-width: 414px) {
    .process-scroll-wrap {
        height: 250vh;
    }

    #dev_process_h2 {
        font-size: 2rem;
    }

    .process-scroll-wrap #hassle-free {
        font-size: 1.5rem;
        margin-top: -2rem;
    }

    .header-workflow {
        margin-left: -14.5rem;
        margin-top: 0.5rem;
    }

    .cards-wrap {
        margin-top: 0rem;
        transform: scale(0.8);
    }

    .process-card1,
    .process-card2,
    .process-card3,
    .process-card4,
    .process-card5 {
        width: 120%;
        margin-left: -2rem;
    }
}

/* ****************************** */
/* Begin media queries iphone 12 pro */
/* **************************** */
@media screen and (min-width: 390px) and (max-width: 393px) {
    .process-scroll-wrap {
        height: 300vh;
    }

    #dev_process_h2 {
        font-size: 2rem;
    }

    .process-scroll-wrap #hassle-free {
        font-size: 1.5rem;
        margin-top: -2rem;
    }

    .header-workflow {
        margin-left: -14.5rem;
        margin-top: 0.5rem;
    }

    .cards-wrap {
        margin-top: 0rem;
        transform: scale(0.8);
    }

    .process-card1,
    .process-card2,
    .process-card3,
    .process-card4,
    .process-card5 {
        width: 120%;
        margin-left: -2rem;
    }
}

/* media queries for ipad pro 12.9 portrait */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
    .header-workflow {
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .process-scroll-wrap {
        height: 320vh;
    }
    .cards-wrap {
        transform: scale(1.2);
    }
}
@media only screen and (min-width: 1366px) and (max-height: 1025px) and (min-resolution: 2dppx)  and (orientation: landscape) {
    .process-scroll-wrap {
        height: 350vh;
    }
}