.SP_popup {
    height: 55%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300000000;
}
.SP_popup-inner {
    height: 75%;
    width: 25%;
    max-width: 310px;
    min-width: 295px;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid hsla(0, 0%, 51.4%, 0.16);
    margin-bottom: 1.2rem;
    margin-left: 1.3rem;
    border-radius: 24px;
    background-color: hsla(0,0%,59.2%,.3);
    backdrop-filter: blur(30px);
    transition: 0.5s ease;
    padding: 12px 18px;
    transform: translateY(120px) translateX(-40px) scale(0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: popup 0.4s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    z-index: 400000000;
}
.SP_close {
    display: none;
}
.sp-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}
.sp_component-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    z-index: 500000000;
}
.sp_comp-widgets, .sp_quick-controls {
    width: 48%;
    height: 100%;
}
.sp_quick-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sp_slider-controls {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 500000000;
}
.sp_brightness-slider, .sp_volume-slider {
    width: 45%;
    height: 100%;
    border: 1px solid hsla(0,0%,59.2%,.3);
    background-color: #1d1d1fba;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.sp_tap-controls {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1d1d1fba;
    z-index: 500000000;
}
.sp_orientation-lock, .sp_calc {
    height: 100%;
    width: 45%;
    border-radius: 12px;
    background-color: hsla(0,0%,59.2%,.3);
    border: 1px solid hsla(0,0%,59.2%,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    z-index: 500000000;
}
/* .sp_orientation-lock {
    border: 1px solid red;
} */
.sp_orientation-lock:hover,
.sp_calc:hover {
    transform: scale(1.05);
    cursor: pointer;
}
#sp_orientLock-icon,
#sp_calc-icon {
    transition: 0.3s ease;
}
.sp_orientLock-icon__active {
    color: rgba(255, 0, 0, 0.923);
}
.sp_calc-icon__active {
    color: rgba(255, 153, 0, 0.923);
}
.sp_comp-widgets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sp_calendar-widget, .sp_weather-widget {
    height: 45%;
    width: 90%;
    border-radius: 24px;
    border: 1px solid hsla(0, 0%, 51.4%, 0.16);
    transition: 0.4s ease;
}
.sp_calendar-widget:hover, 
.sp_weather-widget:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.brightness-icon, .volume-icon {
    align-items: flex-end;
    margin-bottom: 1rem;
    position: absolute;
    z-index: 500000000;
}
/* .slidebar1 {
    width: 100%;
    height: 90%;
    border-radius: 8px;
    background-color: rgb(190, 187, 187);
    position: relative;
    z-index: 400000000;
} */
/* .slidebar2 {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    background-color: rgb(190, 187, 187);
    position: relative;
    z-index: 400000000;
} */



/* .slidebar2__range {
    position: absolute;
} */
input[type='range'] {
    transform: rotateZ(270deg) translateX(-30px);
    -webkit-appearance: none;
    height: 3.55rem;
    overflow: hidden;
    width: 23.9rem;
    border-radius: 8px;
    background-color: #1d1d1fba;
    margin-bottom: 2rem;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3rem;
    cursor: grab;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(190, 187, 187);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -210px 0 0 200px  rgb(190, 187, 187);
    cursor: grab;
    height: 123%;
    width: 5%;
    border: 0;
    margin-top: -1.5%;
  }
  
  input[type='range']::-moz-range-thumb {
    background:  rgb(190, 187, 187);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -1010px 0 0 1000px  rgb(190, 187, 187);
    cursor: grab;
    height: 123%;
    width: 5%;
    border: 0;
    margin-top: -1.5%;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: #1d1d1fba;
  }
  input[type="range"]::-moz-range-progress {
    background-color: rgb(190, 187, 187);
    height: 20px
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #1d1d1fba;
  }
  input[type="range"]::-ms-fill-lower {
    background-color: rgb(190, 187, 187);
  }
 
  /* . {
      background-color: rgb(118, 118, 118);
  } */



.music-player-container {
    width: 100%;
    height: 26%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 51.4%, 0.16);
    padding: 12px;
    background-color: hsla(0,0%,59.2%,.3);
    border-radius: 12px;
    z-index: 400000000;
}
.mp-progressBar {
    height: 2%;
    width: 100%;
    background-color: #3b3b3c;
}
.mp-pastProgress {
    height: 100%;
    width: 41%;
    background-color: #7c7c7e;
}
.mp-timer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    padding-top: 2px;
}
.mp-title-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.song-title {
    color: rgb(17, 16, 16);
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 0.5rem;
}
.song-artist {
    color: rgb(17, 16, 16);
    font-weight: 500;
    text-align: center;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.mp-controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 0rem;
    z-index: 400000000;
}
.sp_links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1.3rem;
    z-index: 400000000;
}
.sp_links-title {
    font-size: 16px;
    font-weight: 500;
}
.sp_links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    background-color: hsla(0,0%,59.2%,.3);
    height: auto;
    padding: 16px;
    border-radius: 8px;
    z-index: 400000000;
}
.close-sp-container {
    position: fixed;
    top: 2%;
    left: 4%;
    height: 28px;
    width: 28px;
    background-color: hsla(0,0%,59.2%,.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    z-index: 400000000;
}
#close-sp-icon {
    z-index: 400000000;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-sp-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.482);
}

.linked-sp-icon,
.github-sp-icon,
.facebook-sp-icon,
.mp-backIcon,
.mp-playIcon,
.mp-forwardIcon {
    transition: 0.4s ease;
}

.linked-sp-icon:hover,
.github-sp-icon:hover,
.facebook-sp-icon:hover,
.mp-backIcon:hover,
.mp-playIcon:hover,
.mp-forwardIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
}
@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(120px) translateX(-40px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) translateX(0px) scale(1);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
    .SP_popup-inner {
        width: 60%;
        height: 53%;
    }
    input[type='range'] {
        margin-bottom: 1rem;
    }
/*     input[type='range']::-webkit-slider-thumb {
        height: 150%;
    } */
}

@media only screen and (min-width: 834px) and (max-width: 834px) and (min-height: 1194px) and (max-height: 1194px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .SP_popup-inner {
        width: 60%;
        height: 57%;
    }
/*     input[type='range']::-webkit-slider-thumb {
        height: 150%;
    } */
}
@media only screen and (min-width: 1194px) and (max-width: 1194px) and (min-height: 834px) and (max-height: 834px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .SP_popup-inner {
        height: 80%;
    }
}
@media only screen and (min-device-width: 414px) 
and (max-device-width: 414px)
and (min-device-height: 896px)
and (max-device-height: 896px) {
    .SP_popup-inner {
        height: 83%;
    }
}
