* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: none;
}

body {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.hidden-element-active {
	display: none;
}

/* body::-webkit-scrollbar {
	display: none;
} */
.hero-scroll-wrap {
	position: relative;
}

.hero-scroll-trigger {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: auto;
	z-index: -1;
	height: 100vh;
}

.sticky-wrap {
	height: 60vh;
	min-height: 100vh;
	position: sticky;
	top: 0;
	z-index: 1;
}

.overflow-wrap {
	overflow: hidden;
	height: 100%;
}

/* .hero {
	display: flex;
	align-items: center;
	height: 100vh;
	-webkit-box-align: center;
	will-change: transform;
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform: scale(1);
	transform-style: preserve-3d;
	animation: macHero 6s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 4s;
}
.hero-ui {
	position: relative;
	left: 50%;
	z-index: 1;
	width: 16.9em;
	max-width: none;
	margin-top: 3.2em;
	margin-left: -8.45em;
	font-size: 10vw;
	display: inline-block;
	vertical-align: middle;
	will-change: opacity;
	opacity: 0;
	animation: heroUIimg 6s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 4s;
} */
/* .testDiv {
	position: relative;
	border: 1px solid red;
	height: 100vh;
	z-index: 1;
} */

.heroCta {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100vh;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: none;
	padding-top: 100px;
	padding-bottom: 100px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.heroWrapper {
	position: relative;
	/* height: 100%;
	width: 100%; */
	border-radius: 50%;
	z-index: 2;
	will-change: opacity;
	animation: heroImgWrap 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 0.8s;
	width: 25vw;
	height: 25vw;
	max-height: 40vh;
	max-width: 40vh;
	min-height: 350px;
	min-width: 350px;
	/* margin-bottom: 64px; */
}

.hero-img-container {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	background-color: hsla(0, 0%, 84%, 0.5);
	object-fit: cover;
	-o-object-fit: cover;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.4s ease;
}

.hero-img-container:hover {
	transform: scale(0.9);
}

.hero-img {
	height: 93%;
	width: 93%;
	border-radius: 50%;
	will-change: transform;
	animation: heroImgScale 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 0.8s;
}

.hero-img-shadow-wrap {
	position: absolute;
	left: -20%;
	top: -20%;
	right: 0;
	bottom: 0;
	width: 140%;
	height: 140%;
	padding: 20%;
	border-radius: 50%;
	filter: blur(20px);
}

.hero-img-shadow-wrap.hero-img-shadow-wrap--intro {
	z-index: 1;
}

.hero-img-shadow {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: radial-gradient(circle farthest-side at 100% 100%,
			#9873ff,
			rgba(152, 115, 255, 0)),
		radial-gradient(circle farthest-side at 100% 0,
			#0ba5f7,
			rgba(85, 196, 255, 0)),
		radial-gradient(circle farthest-side at 0 0, #ff763c, rgba(255, 176, 60, 0)),
		radial-gradient(circle farthest-side at 0 100%,
			#ff5aaa,
			rgba(255, 90, 170, 0));
}

#hero-img-shadow-1 {
	will-change: opacity;
	animation: heroImgShadow1 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 1.5s;
}

#hero-img-shadow-2 {
	will-change: opacity, transform;
	animation: heroImgShadow2 1.2s cubic-bezier(0.65, 0, 0.35, 1);
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-delay: 1.5s;
}

.hero__header {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.hero-eyebrow {
	font-size: 25px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	font-weight: 600;
	text-align: center;
	will-change: transform, opacity;
	animation: fadeIn 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 0.4s;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-top: 4rem;
}

.hero-heading {
	width: 100vw;
	text-align: center;
	font-size: 92px;
	line-height: 1.05;
	letter-spacing: -0.045em;
	font-weight: 600;
	will-change: transform, opacity;
	animation: fadeIn 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 0.5s;
}

.hero-link {
	display: flex;
	justify-content: center;
	color: var(--blue-dark);
	font-size: 23px;
	font-weight: 500;
	letter-spacing: -0.025em;
	white-space: nowrap;
	text-align: center;
	margin-top: 2rem;
	will-change: transform, opacity;
	animation: fadeIn 0.8s ease;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-delay: 0.6s;
}

.hero-link p {
	transition: 0.4s ease;
}

.hero-link-icon {
	padding-top: 4px;
}

.hero-link:hover {
	text-decoration: underline;
	color: var(--blue-dark);
	cursor: pointer;
}

#launch-trigger {
	color: var(--blue-dark);
}

.sticky-gap {
	height: 100vh;
}

.heroHeading_active {
	transition: 1s ease;
	background-color: #4fb7ef72;
	animation: background-color heroImgShadow1 1s ease;
}

.sticky-cdv-box {
	position: absolute;
	bottom: 35%;
	left: -5%;
	width: 20%;
	height: 20%;
	background-color: #fff;
	border-radius: 12px;
	border: 1px solid hsla(0, 0%, 59.2%, .3);
	background-image: url('./cdv-inner.png');
	background-size: 95%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	display: none;
	animation: heroImgShadow1 1s ease;
}

.sticky-cdv-box__active {
	display: block;
	animation: heroImgShadow1 1.5s ease;
	transition: 1.5s ease;
}

/* Create a media query for when the user is using a mobile device. The .hero-ui element should be moved down 2rem. */
@media screen and (max-width: 768px) {
	.hero-ui {
		margin-top: 10rem;
		max-width: none;
		transform: scale(0.75);
	}

	.hero-heading {
		font-size: 48px;
		font-weight: 700;
	}

	.hero-scroll-trigger {
		height: 60vh;
	}
}

/* End media query medium */

@keyframes heroImgScale {
	from {
		opacity: 0;
		transform: scale(2, 2);
	}

	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes heroImgShadow1 {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes heroImgShadow2 {
	0% {
		opacity: 1;
		transform: scale(1, 1);
	}

	99% {
		opacity: 0;
		transform: scale(6, 6);
		height: 140%;
	}

	100% {
		height: 0%;
		opacity: 0;
	}
}

@keyframes heroImgWrap {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: auto;
		transform: translateY(0px);
	}
}

@keyframes macHero {
	from {
		transform: scale3d(1, 1, 1);
	}

	to {
		transform: scale3d(0.360058, 0.360058, 1);
	}
}

@keyframes heroUIimg {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}


/* ************************ */
/* Media queires iphone se */
/* ************************ */

@media screen and (max-width: 375px) {
	.hero-scroll-wrap {
		height: 200vh;
	}

	.hero-ui {
		margin-top: 8rem;
		transform: scale(0.6);
	}

	.heroWrapper {
		transform: scale(0.8);
		margin-top: -2rem;
	}

	.hero__header {
		margin-top: -3rem;
	}

	.hero-heading {
		font-size: 36px;
		font-weight: 600;
	}

	.hero-link-text {
		font-size: 18px;
	}

	.overflow-wrap {
		overflow: hidden;
	}

	.letsLaunchArrowRt {
		font-size: 18px;
		margin-bottom: 1rem;
		font-weight: 600;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	*::-webkit-scrollbar-thumb {
		display: none;
	}

	.hero-eyebrow {
		font-weight: 500;
		font-size: 20px;
	}
}

/* ************************ */
/* Media queires iphone xr */
/* ************************ */
@media screen and (min-width: 412px) and (max-width: 414px) {
	.hero__header {
		margin-top: 1rem;
	}

	.hero-heading {
		font-size: 44px;
		font-weight: 600;
	}

	.heroWrapper {
		margin-top: -2rem;
		transform: scale(0.95);
	}

	.hero-eyebrow {
		font-weight: 500;
		font-size: 24px;
	}

	.hero-link-text {
		font-size: 22px;
	}
}

/* ************************ */
/* Media queires iphone 12 pro */
/* ************************ */
@media screen and (min-width: 390px) and (max-width: 393px) {
	.hero-heading {
		font-size: 41px;
		font-weight: 600;
	}

	.hero-eyebrow {
		font-weight: 500;
		font-size: 24px;
	}

	.hero-link-text {
		font-size: 22px;
	}

	.heroWrapper {
		margin-top: -2rem;
		transform: scale(0.95);
	}
}

/* ************************ */
/* Media queires 13 inch macbook pro */
/* ************************ */

@media (min-width: 760px) and (max-width: 1400px) {
	.hero-heading {
		font-size: 62px;
		font-weight: 700;
		margin-top: 0;
	}

	.hero-eyebrow {
		font-weight: 500;
		font-size: 24px;
		margin-top: 0;
	}

	.hero-link-text {
		font-size: 22px;
	}

	.heroWrapper {
		margin-top: 2rem;
		transform: scale(0.8);
	}
	.hero-ui {
		margin-top: 2rem;
		max-width: none;
		transform: scale(0.8);
	}
}

@media screen and (min-width: 970px) and (max-width: 1023px) {
	.hero-ui {
		margin-top: 4rem;
	}
}
@media screen and (min-width: 850px) and (max-width: 970px) {
	.hero-ui {
		margin-top: 10rem;
	}
}
@media screen and (min-width: 750px) and (max-width: 850px) {
	.hero-ui {
		margin-top: 10rem;
	}
}
@media screen and (min-width: 600px) and (max-width: 750px) {
	.hero-ui {
		margin-top: 8rem;
	}

}
@media screen and (min-width: 400px) and (max-width: 760px) {
	.heroWrapper {
		transform: scale(0.8);
		margin-top: 0;
	}
	.hero-eyebrow {
		margin-top: 0;
	}
}
@media screen and (min-width: 500px) and (max-width: 650px) {
	.heroWrapper {
		margin-top: -2rem;
	}

}


/* media query test for ip[ad pro 12 portrait */

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait)  {
	.heroWrapper {
		transform: scale(1.2);
		margin-top: -2rem;
	}
	.hero-ui {
		margin-top: 10rem;
		transform: scale(1.2);
	}
	.hero__header {
		margin-top: 6rem;
	}
	.hero-eyebrow {
		font-size: 3rem;
	}
	.hero-heading {
		font-size: 6rem;
	}
	#launch-trigger {
		font-size: 2rem;
		padding-top: 25px;
	}
	.hero-link-text {
		font-size: 2rem;
	}

}

@media only screen and (min-width: 1366px) and (max-height: 1025px) and (min-resolution: 2dppx)  and (orientation: landscape) {
	.heroWrapper {
		transform: scale(1.05);
		margin-top: -3rem;
	}
	.hero-eyebrow {
		font-size: 2rem;
		margin-top: 4rem;
	}
	.hero-heading {
		font-size: 5rem;
		margin-top: 0;
	}
	.hero-link-text {
		font-size: 1.5rem;
	}
	#launch-trigger {
		font-size: 1.5rem;
		padding-top: 25px;
	}
	.hero-ui {
		margin-top: -1rem;
		transform: scale(1.05);
	}
}

/* media query ipad 11 inch */
@media only screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) and (min-resolution: 2dppx) {
/* 	body {
		margin-left: 1rem;
	} */
	.heroWrapper {
		transform: scale(1.1);
		margin-top: -6rem;
	}
	.hero-eyebrow {
		font-size: 2rem;
		margin-top: 5rem;
	}
	.hero-heading {
		font-size: 5rem;
		margin-top: 0;
	}
	.hero-link-text {
		font-size: 1.5rem;
		margin-top: 1.5rem;
	}
	#launch-trigger {
		font-size: 1.5rem;
		 margin-top: 1rem;
	}
	.hero-link-icon {
		margin-top: 1.5rem;
	}
	.hero-ui {
		margin-top: 3rem;
		transform: scale(0.96);
	}
/* 	.overflow-wrap {
		overflow: visible;
		margin-left: 0.8rem;
	} */
/* 	.hero-scroll-wrap {
		margin-left: 0.48rem;
	} */
}
@media only screen and (min-width: 1194px) and (max-width: 1194px) and (min-height: 834px) and (max-height: 834px) and (orientation: landscape) and (min-resolution: 2dppx) {
	.heroWrapper {
		margin-top: -5rem;
	}
	.hero-eyebrow {
		font-size: 2rem;
		margin-top: 2rem;
	}
	.hero-heading {
		font-size: 5rem;
		margin-top: 0;
	}
	.hero-ui {
		margin-top: -5rem;
	}
}
