.card-flip12 {
    height: 120px;
    width: 480px;
    background-color: #1d1d1f;
    z-index: 10000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 51% / 16%);
    padding: 36px 64px 36px 32px;
    border: 1px solid hsla(0, 0%, 51.4%, 0.16);
    transition: all 0.35s ease;
}
.card-flip12:hover {
    cursor: pointer;
    border: 1.5px solid var(--blue-dark);
}
.card-flip-icon {
    z-index: 10000;
    position: absolute;
    right: 5%;
}
.card-flip-front {
    font-weight: 600;
}
#smaller-font-card-flip {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .card-flip12 {
        width: 100%;
    }
    #smaller-font-card-flip {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
    }
}
@media screen and (max-width: 375px) {
    .card-flip-content {
        font-size: 13px;
    }
    #smaller-font-card-flip {
        font-size: 11px;
    }
}
@media screen and (min-width: 414px) and (max-width: 414px) {
    .card-flip-content {
        font-size: 14px;
    }
    .card-flip-front {
        font-size: 16px;
    }
    #smaller-font-card-flip {
        font-size: 11.5px;
    }
}
@media screen and (min-width: 390px) and (max-width: 393px) {
    .card-flip-content {
        font-size: 13px;
    }
    .card-flip-front {
        font-size: 15px;
    }
    #smaller-font-card-flip {
        font-size: 11px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
    .card-flip12 {
        width: 100%;
    }
    #smaller-font-card-flip {
        font-size: 1.18rem;
        line-height: 1.5;
        font-weight: 500;
    }
}
