.showcaseCta {
	position: relative;
	height: 225vh;
	background-color: black;
	color: var(--textColor-dark);
	z-index: 300000000;
}

.showcase-animations {
	height: 500px;
	min-height: 500px;
	width: 96%;
	border-radius: 28px;
	background-image: linear-gradient(120deg, #eb4f56, #9d66e9);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.animations-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
	width: 40%;
}

.animations-hero {
	height: 90%;
	width: 55%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animations-hero img {
	height: 85%;
	width: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	max-width: 500px;
}

.animations-heading {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.025em;
	margin-left: 3rem;
	margin-top: -4rem;
}

.animations-subheading {
	margin-left: 3rem;
	padding-top: 3rem;
	opacity: 0.8;
	font-size: 22px;
}

.animations-heroContent {
	position: absolute;
	top: 2.9%;
	height: 292px;
	width: 496px;
	z-index: 2;
	object-fit: cover;
	overflow: hidden;
	/* background-color: rgba(0, 0, 0, 0.8); */
}

.animations-heroContent video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	z-index: 2;
	opacity: 1;
	position: absolute;
	top: -2%;
	left: 0;
}

.overlay {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	z-index: 3;
	will-change: opacity;
	opacity: 0.9;
	position: absolute;
	top: 0;
}

.showcase1 {
	height: 600px;
	width: 96%;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	text-size-adjust: 100%;
}

.loadTimes {
	width: 49%;
	height: 100%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	overflow: hidden;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}

.loadTimes h2 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 3rem;
	margin-left: 4rem;
}

.loadTimes img {
	/* width: 125%;
	margin-top: 10rem;
	max-width: 600px;
	object-fit: contain;
	object-position: 0% 50%;
	min-width: none; */
	width: 120%;
	max-width: 650px;
	margin-top: 36px;
	margin-bottom: -26px;
	margin-left: -64px;
	-webkit-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 0% 50%;
	object-position: 0% 50%;
	margin-top: 1.5rem;
	transition: 0.4s ease;
}

.loadTimes img:hover {
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}

.latest-tech {
	height: 100%;
	width: 49%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}

.latest-tech img {
	position: relative;
	width: 100%;
	border-radius: 24px;
	max-height: 70%;
}

.latest-tech h2 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 5rem;
}

.showcase2 {
	height: 600px;
	display: flex;
	width: 96%;
	justify-content: space-between;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

.showcase-small {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dev-duration,
.clean-code {
	height: 48%;
	width: 100%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}

.dev-duration h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3rem;
}

.responsive {
	width: 68%;
	/* min-width: 850px; */
	height: 100%;
	background-image: linear-gradient(45deg, #16327c, #1ebf98);
	border-radius: 24px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}

.responsive img {
	min-height: 500px;
	max-width: 90%;
	margin-left: 5rem;
	margin-top: 3rem;
	z-index: 2;
	transform: scale(0.9);
	position: relative;
}

.responsive h2 {
	position: relative;
	left: 5%;
	top: 10%;
	font-size: 32px;
	font-weight: 600;
}

.overflow-container {
	width: 100%;
	max-width: 1450px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 28px;
	padding-right: 28px;
}

.clean-code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clean-code h2 {
	padding-bottom: 1.5rem;
	margin-top: -1rem;
}

.bracket {
	color: lightskyblue;
}

.identifier {
	color: red;
}

.class {
	color: #9d66e9;
}

.class-content {
	color: yellowgreen;
}

.indent,
.indent2 {
	margin-left: 15px;
}

.dd-time-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	margin-top: 3rem;
}

#dd-weeks {
	opacity: 0;
	background-image: linear-gradient(-70deg, #ed4e50, #9867f0);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dd-weeks-active {
	animation: riseup 1s 1s cubic-bezier(.55, 0, .1, 1) forwards;
}

.dd-months {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.dd-months-strike:after {
	content: '';
	position: absolute;
	display: block;
	width: 110%;
	height: 8px;
	margin-left: -10px;
	border-radius: 24px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.6);
	margin-top: -0.6em;
	background: #fff;
	transform-origin: center left;
	animation: strikethrough 1s cubic-bezier(.55, 0, .1, 1) forwards;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.dd-months-strike:before {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.dd-months-gray {
	animation: grayfade 1s 1s cubic-bezier(.55, 0, .1, 1) forwards;
}



@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}

@keyframes grayfade {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: 0.5;
		transform: translateY(-50px) scale(0.7)
	}
}

@keyframes riseup {
	from {
		opacity: 0;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(-50px);
	}
}


/* ********************************************* */
/* Begin media queries for medium screen */
/* ********************************************* */
@media screen and (max-width: 800px) {
	.showcaseCta {
		height: auto;
	}

	.animations-hero {
		position: relative;
		width: 80%;
		height: 185px;
		margin-top: 18rem;
	}

	.animations-hero #blankhero-img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		margin-top: 0rem;
	}

	.animations-heroContent {
		position: relative;
		/* border: 1px solid red; */
		width: 100%;
		height: 100%;
		margin-top: -0.25rem;
		z-index: 10;
	}

	.overlay {
		margin-top: -4rem;
	}

	.animations-heroContent video {
		object-fit: cover;
		z-index: 2;
		opacity: 1;
		position: absolute;
		left: 0.25%;
		height: 100%;
		width: 99%;
		top: 0;
		object-position: center;
		margin-top: 0rem;
	}

	.showcase-animations {
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: 110px;
	}

	.animations-heading {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 22px;
	}

	.animations-subheading {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 18px;
		max-width: 75%;
	}

	.showcase1 {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.loadTimes {
		width: 100%;
		height: 530px;
	}

	.latest-tech {
		width: 100%;
		height: 400px;
		margin-top: 2rem;
	}

	.showcase2 {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.showcase-small {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
	}

	.dev-duration,
	.clean-code {
		width: 100%;
	}

	.clean-code {
		margin-top: 2rem;
		height: 275px;
		margin-bottom: 2rem;
	}

	.responsive {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.responsive img {
		width: 100%;
		min-height: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.responsive h2 {
		margin-top: 20px;
	}
}

/* ********************************************* */
/* End media queries for medium screen */
/* ********************************************* */

/* ********************************************* */
/* Begin media queries for iphone se */
/* ********************************************* */
@media screen and (max-width: 375px) {
	.showcaseCta {
		height: auto;
		position: relative;
	}

	.animations-heroContent video {
		object-fit: cover;
		z-index: 2;
		opacity: 1;
		/* position: absolute; */
		/* left: -12%; */
		height: 100%;
		width: 100%;
		object-position: center;
		margin-top: 0rem;
	}

	.animations-heading {
		margin-top: -5rem;
	}

	.animations-description .animations-subheading {
		width: 70%;
		margin-top: -1rem;
	}

	.animations-hero #blankhero-img {
		width: 90%;
		height: auto;
		margin-top: 4rem;
	}

	.animations-heroContent {
		position: relative;
		width: 88%;
		height: 155px;
		margin-top: 10rem;
		/* background-color: rgba(0, 0, 0, 0.8); */
	}

	.overlay {
		height: 100%;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.animations-hero {
		width: 100%;
		margin-top: 16rem;
		padding-bottom: 4rem;
	}

	.loadTimes .fastDelivery {
		margin-left: 2rem;
		font-size: 1.5rem;
	}

	.loadTimes img {
		transform: scale(1.35);
		margin-left: -2rem;
		margin-top: 2rem;
	}

	.loadTimes img:hover {
		transform: scale(1.7);
	}

	.latest-tech h2 {
		text-align: center;
		margin-top: 3rem;
		font-size: 1.5rem;
		padding-bottom: 4rem;
	}

	.latest-tech {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.clean-code h2 {
		margin-bottom: 1rem;
	}

	.clean-code-content {
		width: 110%;
		height: auto;
		font-size: 14px;
		margin-left: 3.5rem;
	}

	.responsive {
		margin-bottom: 8rem;
	}

	.responsive img {
		margin-top: 9rem;
		width: 100%;
		padding-bottom: 3.5rem;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
	}

	.responsive h2 {
		/* padding-top: 2rem; */
		text-align: center;
		margin-left: -0.7rem;
		width: 100%;
		padding-bottom: 1rem;
		position: absolute;
		top: 2%;
	}
}

/* ********************************************* */
/* Begin media queries for iphone xr */
/* ********************************************* */
@media screen and (min-width: 412px) and (max-width: 414px) {
	.animations-description .animations-subheading {
		width: 70%;
	}

	.animations-hero #blankhero-img {
		width: 90%;
		height: auto;
		margin-top: 2rem;
	}

	.overlay {
		height: 100%;
		width: 100%;
		margin-bottom: 0;
	}

	.animations-heroContent {
		position: relative;
		width: 93%;
		height: 155px;
		margin-top: 0rem;
		/* background-color: rgba(0, 0, 0, 0.8); */
	}

	.animations-heroContent video {
		object-fit: cover;
		z-index: 2;
		opacity: 1;
		/* position: absolute; */
		/* left: -12%; */
		height: 100%;
		width: 100%;
		object-position: center;
		margin-top: -0.13rem;
	}

	.loadTimes .fastDelivery {
		margin-left: 2rem;
		font-size: 1.6rem;
	}

	.loadTimes img {
		margin-top: 2rem;
		transform: scale(1.1);
	}

	.loadTimes {
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: 6rem;
	}

	.latest-tech {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.latest-tech h2 {
		text-align: center;
		margin-top: 3rem;
		font-size: 1.7em;
		padding-bottom: 3rem;
	}

	.latest-tech img {
		width: 100%;
		height: auto;
	}

	.responsive {
		margin-bottom: 6rem;
	}

	.responsive h2 {
		/* padding-top: 2rem; */
		text-align: center;
		margin-left: -0.7rem;
		width: 100%;
		padding-bottom: 1rem;
		position: absolute;
		top: 2%;
	}

	.responsive img {
		margin-top: 9rem;
		width: 100%;
		padding-bottom: 3.5rem;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
	}
}

/* ********************************************* */
/* Begin media queries for iphone xr */
/* ********************************************* */
@media screen and (min-width: 390px) and (max-width: 393px) {
	.animations-heading {
		font-size: 1.3rem;
		margin-top: -6rem;
		font-weight: 500;
	}

	.animations-subheading {
		margin-top: -3rem;
		width: 60%;
	}

	.animations-hero #blankhero-img {
		width: 100%;
		height: auto;
		margin-top: -1rem;
		/* transform: scale(1.1); */
	}

	.animations-hero {
		width: 90%;
	}

	.animations-heroContent {
		position: relative;
		width: 110%;
		height: 165px;
		margin-top: -4rem;
		/* background-color: rgba(0, 0, 0, 0.8); */
	}

	.showcase-animations {
		padding-bottom: 35px;
	}

	.overlay {
		height: 100%;
		width: 100%;
		margin-bottom: 0;
	}

	.loadTimes .fastDelivery {
		margin-left: 2rem;
		font-size: 1.5rem;
	}

	.loadTimes {
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: 6rem;
	}

	.loadTimes img {
		transform: scale(1.1);
		margin-left: -4rem;
		margin-top: 2rem;
	}

	.latest-tech {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.latest-tech h2 {
		text-align: center;
		margin-top: 3rem;
		font-size: 1.5rem;
		padding-bottom: 4rem;
	}

	.latest-tech img {
		width: 100%;
		height: auto;
	}

	.clean-code-content {
		width: 110%;
		height: auto;
		font-size: 14px;
		margin-left: 4.5rem;
	}

	.responsive {
		margin-bottom: 6rem;
	}

	.responsive h2 {
		/* padding-top: 2rem; */
		text-align: center;
		margin-left: -0.7rem;
		width: 100%;
		padding-bottom: 1rem;
		position: absolute;
		top: 2%;
	}

	.responsive img {
		margin-top: 10rem;
		width: 100%;
		padding-bottom: 3.5rem;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		transform: scale(1.06);
	}
}

/* media queries for ipad pro 12.9 */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
	.animations-heroContent {
		height: 292px;
		width: 470px;
		top: 3%;
		margin-left: 0.25rem;
	}
	.animations-hero {
		width: 100%;
		height: 78%;
	}
	.showcase1 {
		height: 475px;
	}
	.loadTimes img {
		transform: scale(0.8);
		margin-left: -7rem;
	}
	.dev-duration h2 {
		font-size: 1.35rem;
	}
	.clean-code-content {
		font-size: 13px;
	}
	.responsive img {
		transform: scale(0.85);
		padding: 0;
		margin-left: -2.5rem;
		margin-top: 3rem;
		min-width: 113%;
		max-width: 113%;
	}
	.showcaseCta {
		height: 130vh;
	}
	}
	@media only screen and (min-width: 1366px) and (max-height: 1025px) and (min-resolution: 2dppx)  and (orientation: landscape) {
		.showcaseCta {
			height: 190vh;
		}
		.animations-heroContent {
			height: 305px;
			width: 500px;
		}
		.responsive img {
			margin-left: 3rem;
			margin-top: 4rem;
		}
	}

	/* media query ipad pro 11 */
	@media only screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) and (min-resolution: 2dppx) {
		.showcaseCta {
			height: 145vh;
		}
/* 		.showcaseCta .overflow-container {
			margin-left: 0.5rem;
		} */
		.showcase1 {
			height: 400px;
		}
		.loadTimes h2 {
			font-size: 1.65rem;
			margin-left: 2rem;
		}
		.loadTimes img {
			transform: scale(0.83);
			margin-left: -6rem;
			margin-top: 1.5rem;
		}
		#dd-trigger,
		.scale-trigger {
			font-size: 1.65rem;
		}
		.showcase2 {
			height: 570px;
		}
		.dd-time-cta {
			font-size: 2.5rem;
		}
		.clean-code-content {
			font-size: 12px;
		}
		.showcase-small {
			width: 35%;
		}
		.responsive {
			width: 63%;
		}
		.responsive img {
			transform: scale(0.65);
			margin-left: -7.4rem;
			margin-top: 2rem;
			min-width: 150%;
			max-width: 150%;
		}
		.animations-hero {
			width: 110%;
			height: 55%;
			margin-left: 6rem;
		}
		.animations-heroContent {
			height: 225px;
			width: 365px;
			top: 5.45%;
			margin-left: 0.25rem;
		}
		.animations-description {
			width: 30%;
		}
		.animations-heading {
			font-size: 2rem;
			/* margin-top: 2rem; */
		}
		.animations-subheading {
			font-size: 1.2rem;
			padding-top: 2rem;
			width: 110%;
		}
	}
	@media only screen and (min-width: 1194px) and (max-width: 1194px) and (min-height: 834px) and (max-height: 834px) and (orientation: landscape) and (min-resolution: 2dppx) {
		.animations-hero {
			width: 100%;
			margin-left: 4rem;
		}
		.animations-heroContent {
			top: 3%;
			width: 500px;
			height: 300px;
		}
		.animations-subheading {
			width: 110%;
		}
		.showcase1 {
			height: 500px;
		}
		.loadTimes img {
			transform: scale(0.8);
			margin-left: -8.5rem;
		}
		.responsive img {
			min-width: 100%;
			max-width: 100%;
			margin-left: 0;
			margin-top: 4rem;
		}
	}