.showcaseCta {
	position: relative;
	height: 215vh;
	background-color: black;
	color: var(--textColor-dark);
}
.showcase-animations {
	height: 500px;
	width: 96%;
	border-radius: 28px;
	background-image: linear-gradient(120deg, #eb4f56, #9d66e9);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.animations-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
	width: 40%;
}
.animations-hero {
	height: 90%;
	width: 55%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animations-hero img {
	height: 85%;
	width: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	max-width: 500px;
}
.animations-heading {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.025em;
	margin-left: 3rem;
	margin-top: -4rem;
}
.animations-subheading {
	margin-left: 3rem;
	padding-top: 3rem;
	opacity: 0.8;
	font-size: 22px;
}
.animations-heroContent {
	position: absolute;
	top: 3%;
	height: 286px;
	width: 486px;
	z-index: 2;
	object-fit: cover;
	overflow: hidden;
	/* background-color: rgba(0, 0, 0, 0.8); */
}
.animations-heroContent video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	z-index: 2;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
}
.overlay {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	z-index: 3;
	will-change: opacity;
	opacity: 0.9;
	position: absolute;
	top: 0;
}
.showcase1 {
	height: 600px;
	width: 96%;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	text-size-adjust: 100%;
}
.loadTimes {
	width: 49%;
	height: 100%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	overflow: hidden;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}
.loadTimes h2 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 3rem;
	margin-left: 4rem;
}
.loadTimes img {
	/* width: 125%;
	margin-top: 10rem;
	max-width: 600px;
	object-fit: contain;
	object-position: 0% 50%;
	min-width: none; */
	width: 120%;
	max-width: 650px;
	margin-top: 36px;
	margin-bottom: -26px;
	margin-left: -64px;
	-webkit-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 0% 50%;
	object-position: 0% 50%;
	margin-top: 1.5rem;
}
.latest-tech {
	height: 100%;
	width: 49%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}
.latest-tech img {
	position: relative;
	width: 100%;
	border-radius: 24px;
	max-height: 70%;
}
.latest-tech h2 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 5rem;
}
.showcase2 {
	height: 600px;
	display: flex;
	width: 96%;
	justify-content: space-between;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}
.showcase-small {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.dev-duration,
.clean-code {
	height: 48%;
	width: 100%;
	border-radius: 24px;
	background-color: var(--bg-dark);
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}
.dev-duration h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3rem;
}
.responsive {
	width: 68%;
	/* min-width: 850px; */
	height: 100%;
	background-image: linear-gradient(45deg, #16327c, #1ebf98);
	border-radius: 24px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	border: 1px solid hsla(0, 0%, 51.4%, 0.16);
}
.responsive img {
	min-height: 500px;
	max-width: 90%;
	margin-left: 5rem;
	z-index: 2;
	position: relative;
}
.responsive h2 {
	position: relative;
	left: 5%;
	top: 10%;
	font-size: 32px;
	font-weight: 600;
}
.overflow-container {
	width: 100%;
	max-width: 1450px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 28px;
	padding-right: 28px;
}
.clean-code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.clean-code h2 {
	padding-bottom: 1.5rem;
	margin-top: -1rem;
}
.bracket {
	color: lightskyblue;
}
.identifier {
	color: red;
}
.class {
	color: #9d66e9;
}
.class-content {
	color: yellowgreen;
}
.indent,
.indent2 {
	margin-left: 15px;
}
.dd-time-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	margin-top: 3rem;
}
#dd-weeks {
	opacity: 0;
	background-image: linear-gradient(-70deg,#ed4e50,#9867f0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dd-weeks-active {
	animation: riseup 1s 1s cubic-bezier(.55, 0, .1, 1) forwards;
}
.dd-months {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
.dd-months-strike:after {
	content: '';
	position: absolute;
	display: block;
	width: 110%;
	height: 8px;
	margin-left: -10px;
	border-radius: 24px;
	box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.6em;
	background: #fff;
	transform-origin: center left;
	animation: strikethrough 1s cubic-bezier(.55, 0, .1, 1) forwards;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}
.dd-months-strike:before {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
.dd-months-gray {
	animation: grayfade 1s 1s cubic-bezier(.55, 0, .1, 1) forwards;
}

/* Create a media query for when the user is on a mobile device. When they are, change the width of the container. */
@media screen and (max-width: 800px) {
	.showcaseCta {
		height: auto;
	}
	.animations-hero {
		position: relative;
		width: 80%;
		height: 55%;
		margin-top: 15rem;
		
	}
	.animations-hero #blankhero-img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		margin-top: 2rem;
	}
	.animations-heroContent {
		position: relative;
		/* border: 1px solid red; */
		width: 100%;
		margin-top: -0.25rem;
	}
	.overlay {
		margin-top: 2rem;
	}
	.animations-heroContent video {
		object-fit: cover;
		z-index: 2;
		opacity: 1;
		position: absolute;
		left: 0.25%;
		height: 74%;
		width: 98%;
		top: 0;
		object-position: center;
		margin-top: 2.25rem;
	}
	.showcase-animations {
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: 50px;
	}
	.animations-heading {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 22px;
	}
	.animations-subheading {
		position: absolute;
		top: 5%;
		left: 5%;
		font-size: 18px;
		max-width: 75%;
	}
	.showcase1 {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.loadTimes {
		width: 100%;
		height: 530px;
	}
	.latest-tech {
		width: 100%;
		height: 400px;
		margin-top: 2rem;
	}
	.showcase2 {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.showcase-small {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
	}
	.dev-duration, .clean-code {
		width: 100%;
	}
	.clean-code {
		margin-top: 2rem;
		height: 275px;
		margin-bottom: 2rem;
	}
	.responsive {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}
	.responsive img {
		width: 100%;
		min-height: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.responsive h2 {
		margin-top: 20px;
	}
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
@keyframes grayfade {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	to {
		opacity: 0.5;
		transform: translateY(-50px) scale(0.7)
	}
}
@keyframes riseup {
	from {
		opacity: 0;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(-50px);
	}
}