:root {
	--bg-dark: #1d1d1f;
	--textColor-dark: #f5f5f7;
	--bg-light: #fff;
	--textColor-light: #1d1d1f;
	--blue-dark: #3997f7;
	--blue-light: #006ddb;
}
body {
	background-color: var(--bg-dark);
	color: var(--textColor-dark);
}
