.Dragging {
    width: 22%;
    height: 40%;
    position: absolute;
    top: 12%;
    right: 15%;
    max-width: 240px;
    min-width: 240px;
    z-index: 999000000;
    display: none;
    border-radius: 12px;
    box-shadow: 0px 0px 10px hsla(0,0%,59.2%,.1);
    transform-style: preserve-3d;
    transform: skew(0) translateX(0) translateY(0);
}
.Dragging_active {
    display: block;
    position: fixed;
}
.Dragging-min-anim {
    animation: min-anim 1s ease-in-out forwards;
    animation-delay: 0s;
}
.shortPcalc {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    opacity: 0;
    transform: scale(0.8);
    animation: shortPcalc 2.5s ease-in-out forwards;
}

@keyframes shortPcalc {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    30% {
        opacity: 1;
        transform: scale(1);
    }
    60% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }

}
@keyframes min-anim {
    0% {
        transform: skew(0) translateX(0) translateY(0);
    }
    10% {
        transform: skew(10deg) translateX(10px) translateY(30px);
    }
    20% {
        transform: skew(25deg) translateX(25px) translateY(75px);
    }
    100% {
        transform: skew(0) translateX(800px) translateY(2400px);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-resolution: 2dppx)  and (orientation: portrait) {
    .Dragging {
        height: 28%;
    }
}
@media only screen and (min-width: 834px) and (max-width: 834px) and (min-height: 1194px) and (max-height: 1194px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .Dragging {
        height: 31%;
    }
}
@media only screen and (min-width: 1194px) and (max-width: 1194px) and (min-height: 834px) and (max-height: 834px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .Dragging {
        height: 45%;
    }
}